@model QLTHPT.ModelDB.HOCKy

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3><strong>Chi Tiết Thông Tin Học Kỳ</strong></h3>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Mã Học Kỳ
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HK_MA)
        </dd>

        <dt>
            Tên Học Kỳ
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HK_TEN)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Chỉnh Sửa", "Edit", new { id = Model.HK_MA }) |
    @Html.ActionLink("Quay Lại", "Index")
</p>
