@model QLTHPT.ModelDB.THU

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <h3><strong>Chi Tiết Thông Tin Thứ</strong></h3>

<div>
  
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Mã Thứ
        </dt>

        <dd>
            @Html.DisplayFor(model => model.THU_MA)
        </dd>
        <dt>
            Thứ
        </dt>

        <dd>
            @Html.DisplayFor(model => model.THU_TEN)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Chỉnh Sửa", "Edit", new { id = Model.THU_MA }) |
    @Html.ActionLink("Quay Lại", "Index")
</p>
