@{
    ViewBag.Title = "Home Page";
}
    <body>
        <div class="bg-top navbar-light">
            <div class="container">
                <div class="row no-gutters d-flex align-items-center align-items-stretch">
                    <div class="col-md-4 d-flex align-items-center py-4">
                    </div>
                    <div class="col-lg-8 d-block">
                        <div class="col-md d-flex topper align-items-center align-items-stretch py-md-4">
                            <div class="row d-flex">
                            </div>
                            <div class="col-md d-flex topper align-items-center align-items-stretch py-md-4">
                            </div>
                            <div class="col-md topper d-flex align-items-center justify-content-end">
                                <p class="mb-0">
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
