@model QLTHPT.ModelDB.PHONGHOC

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3> <strong>Chi Tiết Phòng Học</strong></h3>

<div>
    
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Mã Phòng
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PH_MA)
        </dd>
        <dt>
            Tên Phòng
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PH_TEN)
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Chỉnh Sửa", "Edit", new { id = Model.PH_MA }) |
    @Html.ActionLink("Quay Lại", "Index")
</p>
