@model QLTHPT.ModelDB.NAMHOC

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <h3><strong>Chi Tiết Thông Tin Năm Học</strong></h3>

<div>

    <hr />
    <dl class="dl-horizontal">
        <dt>
            Mã Năm Học
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NH_MA)
        </dd>
        <dt>
            Năm Học
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NH_NAMHOC)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Chỉnh Sửa", "Edit", new { id = Model.NH_MA }) |
    @Html.ActionLink("Quay Lại", "Index")
</p>
