@model QLTHPT.ModelDB.DANTOC

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3><strong>CHI TIẾT</strong></h3>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Mã Dân Tộc
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DT_MA)
        </dd>

        <dt>
            Tên Dân Tộc
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DT_TEN)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Chỉnh sửa", "Edit", new { id = Model.DT_MA }) |
    @Html.ActionLink("Quay lại", "Index")
</p>
