@model QLTHPT.ModelDB.COQUAN

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <h3><strong>Xóa Thông Tin Cơ Quan</strong></h3>

    <h5>Bạn có chắc muốn xóa ?</h5>
<div>
 
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Mã Cơ Quan
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CQ_MA)
        </dd>
        <dt>
            Tên Cơ Quan
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CQ_TEN)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Xóa" class="btn btn-default" /> |
            @Html.ActionLink("Quay Lại", "Index")
        </div>
    }
</div>
