@model QLTHPT.ModelDB.COQUAN

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <h3><strong>Chi Tiết Thông Tin Cơ Quan</strong></h3>

<div>

    <hr />
    <dl class="dl-horizontal">
        <dt>
            Mã Cơ Quan
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CQ_MA)
        </dd>
        <dt>
            Tên Cơ Quan
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CQ_TEN)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Chỉnh Sửa", "Edit", new { id = Model.CQ_MA }) |
    @Html.ActionLink("Quay Lại", "Index")
</p>
